<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melhores na Educaçao</title>
    <link rel="stylesheet" type="text/css" href="../static/style2.css">
</head>
<body>
    <h1>Gráfico de Melhores na Educaçao</h1>

    <form action="/melhoresedu" METHOD="POST">
        <label>Digite a quantidade de cidades com a melhor educação que voce deseja visualizar: </label>
        <input type="text" name="valor">
        <button type="submit">Filtrar</button>

    </form>

    {{figura|safe}}
</body>
</html>